<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- 大型头图背景组件 -->

  <div th:fragment="img-background" class="relative h-[60vh] min-h-[400px] w-full overflow-hidden">
    <!-- 背景图片 -->

    <div
      class="absolute inset-0 flex items-center justify-center bg-cover bg-center bg-no-repeat transition-transform duration-1000"
    >
      <div class="h-full w-full object-cover">
        <img
          th:if="${not #lists.isEmpty(theme.config.common.backgroundImgs)}"
          th:with="randomIndex=${T(java.lang.Math).floor(T(java.lang.Math).random() * #lists.size(theme.config.common.backgroundImgs))}"
          th:src="${theme.config.common.backgroundImgs[randomIndex].url}"
        />
        <img th:unless="${ #lists.isEmpty(theme.config.common.backgroundImgs)}" th:src="@{/assets/img/imbg.avif}" />
      </div>

      <!-- 暗黑模式遮罩层 -->
      <div class="bg-black/1 absolute inset-0 transition-opacity duration-300 dark:bg-black/40"></div>
    </div>

    <!-- 插入星空效果 -->
    <th:block th:replace="~{modules/common/starry}"></th:block>

    <!-- 插入波浪效果 -->
    <th:block th:replace="~{modules/common/ripple}"></th:block>
  </div>
</html>
