<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <!-- 侧边栏容器 -->
  <div class="space-y-8">
    <!-- 作者卡片 -->
    <div th:if="${theme.config.sidebar.showAuthorCard}">
      <th:block  th:replace="~{modules/sidebar/author-card}"></th:block>

    </div>
    <!-- 随机视频 -->
    <div th:if="${theme.config.sidebar.showRandomVideo}">
  
      <th:block  th:replace="~{modules/sidebar/random-video}"></th:block>

    </div>

    <div th:if="${theme.config.sidebar.showHotPosts}">
      <!-- 最新文章 -->
      <th:block  th:replace="~{modules/sidebar/hot-posts}"></th:block>

    </div>
    <!-- 标签云 -->
    <div th:if="${theme.config.sidebar.showTagCloud}">
    
      <th:block th:if="${theme.config.sidebar.showTagCloud}" th:replace="~{modules/sidebar/tag-cloud}"></th:block>
      
    </div>
 
  

  
  </div>
</html>
